<!DOCTYPE html>
<html lang="en" ng-app="demoApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AngularJS Fundamentals in 60-ish Minutes</title>
</head>
<body
  ng-init="customers = [
    {
      name: 'Graham',
      city: 'Columbia'
    },
    {
      name: 'Mary',
      city: 'Carmel'
    },
    {
      name: 'Emma',
      city: 'Wheaton'
    },
    {
      name: 'Roey',
      city: 'Tel Aviv'
    },
    {
      name: 'EJ',
      city: 'Darien'
    }
  ]"
 >
  Name:
  <br>
  <input type="text" ng-model="name" /> {{ name }}
  <div class="container">
    <ul class="people">
      <li ng-repeat="cust in customers | filter:name | orderBy:'cityn '">{{ cust.name +" - "+ cust.city }}</li>
    </ul>
  </div>

  <div class="container" ng-controller="SimpleController">
    <h1>Adding a Simple Controller</h1>
    <ul>
      <li ng-repeat="cust in customers">
        {{ cust.name }} - {{ cust.city }}
      </li>
    </ul>
  </div>
  
  <script src="./angular.min.js"></script>
  <script src="./demoApp.js"></script>
</body>
</html>